nav.navbar.navbar-ct-verz.navbar-fixed-top(role='navigation-demo')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-default2')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Verz
    #navigation-default2.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='/discover')
            i.fa.fa-globe
            | Discover
      ul.nav.navbar-nav.navbar-right
        if user
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href="/account") My Account
              li.divider
              li
                a(href='/logout') Logout
        li
          button.btn.btn-round.btn-neutral(data-toggle='modal', data-target='#createModal')
            i.fa.fa-edit
            | Post
