<meta charset='UTF-8'>
<meta http-equiv='X-UA-Compatible', content='IE=edge'>
<meta name='viewport', content='width=device-width', initial-scale='1.0'>
<meta name='csrf-token', content="<%= locals._csrf %>">
<link rel='stylesheet' type='text/css' href='/lib/bootstrap/dist/css/bootstrap.min.css'>
<link rel='stylesheet' type='text/css' href='/lib/font-awesome/css/font-awesome.min.css'>
<link rel='stylesheet' type='text/css' href='/css/gsdk.css'>
<link rel='stylesheet' type='text/css' href='/css/theme.css'>
<link rel='stylesheet' type='text/css' href='/css/pe-icon-7-stroke.css'>
<title><%= title %></title>
