.section
      .container
        .col-md-3
          .row
            h6 Already Have An Account?
            .form-group
              input#inputSmall.form-control.input-sm(type='text', placeholder='Email')
            .form-group
              input#inputSmall.form-control.input-sm(type='text', placeholder='Password')
              h6.text-right forgot password?
              a.btn.btn-default.btn-md.btn-block(href='#') Log In
            h6 Learn More About Verses and Create an Account
              a.btn.btn-default.btn-md.btn-block(href='#') Sign Up