.container
  .row
    .col-md-3
      .fixed-section.float
        .card.card-user.card-plain
          .image
          .content
            .author
              a(href='#')
                img.avatar.border-gray(src='/img/face-4.jpg')
                h4.title
                  | Username
                  br
                  small #{user.email}
            p.description.text-center
              i.fa.fa-map-marker.fa-fw.text-muted
              | Location
              br
              i.fa.fa-envelope-o.fa-fw.text-muted
              |  Website.com
            hr
            .text-center
              button.btn.btn-social.btn-facebook.btn-simple(href='#')
                i.fa.fa-facebook-square
              button.btn.btn-social.btn-twitter.btn-simple(href='#')
                i.fa.fa-twitter
              button.btn.btn-social.btn-google.btn-simple(href='#')
                i.fa.fa-google-plus-square
        .card.card-price.card-plain
          .content
            h6.category Featured Verzs
            ul.list-unstyled
              li
                b userame
                |  0
              li
                b userame
                |  0
              li
                b userame
                |  0
              li
                b userame
                |  0
              li
                b userame
                |  0
              li
                b userame
                |  0

