.section
      .container
        .row
          .col-md-3.text-center
            h6.text-left @Username
        .row
          .col-md-3
            a
              img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
            ul.list-inline.list-unstyled
              li
                h6 
                  a(href="#") Verses: 0
              li 
                h6
                a(href="#") Following: 0
              li
                h6
                a(href="#") Followers: 0
              li
                h6
                a(href="#") Features: 0
              li
                h6
                a(href="#") Likes: 0
              br
    .section
      .container
        .row
          .col-md-3.text-center
            h6.text-left Featured
        .row    
          .col-md-1
            img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
          .col-md-2
            h6 A title
            p Lorem ipsum dolor sit
        .row
          .col-md-1
            img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
          .col-md-2
            h6 A title
            p Lorem ipsum dolor sit
        .row
          .col-md-1
            img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
          .col-md-2
            h6 A title
            p Lorem ipsum dolor sit
        .row
          .col-md-1
            img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
          .col-md-2
            h6 A title
            p Lorem ipsum dolor sit
    .section
      .container
        .row
          .col-md-3.text-center
            h6.text-left Classics
        .row    
          .col-md-1
            img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
          .col-md-2
            h6 A title
            p Lorem ipsum dolor sit
        .row
          .col-md-1
            img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
          .col-md-2
            h6 A title
            p Lorem ipsum dolor sit
        .row
          .col-md-1
            img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
          .col-md-2
            h6 A title
            p Lorem ipsum dolor sit
        .row
          .col-md-1
            img.img-responsive(src='http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png')
          .col-md-2
            h6 A title
            p Lorem ipsum dolor sit