.fixed-section
  .card
    .content
      p.category.text-right
        i.fa.fa-clock-o
        |  3 hours ago
      a.card-link(href='#')
        h1.title Title 
        h3  To be or not to be...that is the question
      a.card-link(href='#')
      .footer
        .author
          a.card-link(href='#')
            img.avatar(src='/img/face-2.jpg', alt='...')
            span  Creative Tim
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-comments
            |  89
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
  .card
    .content
      p.category.text-right
        i.fa.fa-clock-o
        |  3 hours ago
      a.card-link(href='#')
        h1.title Title 
        h3  To be or not to be...that is the question
      a.card-link(href='#')
      .footer
        .author
          a.card-link(href='#')
            img.avatar(src='/img/face-2.jpg', alt='...')
            span  Creative Tim
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-comments
            |  89
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
  .card
    .content
      p.category.text-right
        i.fa.fa-clock-o
        |  3 hours ago
      a.card-link(href='#')
        h1.title Title 
        h3  To be or not to be...that is the question
      a.card-link(href='#')
      .footer
        .author
          a.card-link(href='#')
            img.avatar(src='/img/face-2.jpg', alt='...')
            span  Creative Tim
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-comments
            |  89
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
  .card
    .content
      p.category.text-right
        i.fa.fa-clock-o
        |  3 hours ago
      a.card-link(href='#')
        h1.title Title 
        h3  To be or not to be...that is the question
      a.card-link(href='#')
      .footer
        .author
          a.card-link(href='#')
            img.avatar(src='/img/face-2.jpg', alt='...')
            span  Creative Tim
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-comments
            |  89
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
  .card
    .content
      p.category.text-right
        i.fa.fa-clock-o
        |  3 hours ago
      a.card-link(href='#')
        h1.title Title 
        h3  To be or not to be...that is the question
      a.card-link(href='#')
      .footer
        .author
          a.card-link(href='#')
            img.avatar(src='/img/face-2.jpg', alt='...')
            span  Creative Tim
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-comments
            |  89
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
  .card
    .content
      p.category.text-right
        i.fa.fa-clock-o
        |  3 hours ago
      a.card-link(href='#')
        h1.title Title 
        h3  To be or not to be...that is the question
      a.card-link(href='#')
      .footer
        .author
          a.card-link(href='#')
            img.avatar(src='/img/face-2.jpg', alt='...')
            span  Creative Tim
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-comments
            |  89
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
  .card
    .content
      p.category.text-right
        i.fa.fa-clock-o
        |  3 hours ago
      a.card-link(href='#')
        h1.title Title 
        h3  To be or not to be...that is the question
      a.card-link(href='#')
      .footer
        .author
          a.card-link(href='#')
            img.avatar(src='/img/face-2.jpg', alt='...')
            span  Creative Tim
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-comments
            |  89
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
  .card
    .content
      p.category.text-right
        i.fa.fa-clock-o
        |  3 hours ago
      a.card-link(href='#')
        h1.title Title 
        h3  To be or not to be...that is the question
      a.card-link(href='#')
      .footer
        .author
          a.card-link(href='#')
            img.avatar(src='/img/face-2.jpg', alt='...')
            span  Creative Tim
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-comments
            |  89
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341
        .stats.pull-right
          a.card-link(href='#')
            i.fa.fa-heart
            |  341