.fixed-section.float
  h3.text-center Featured Poets
  .media
    a.pull-left(href='#')
      .avatar
        img.media-object(src='/img/face-2.jpg')
    .media-body
      h3.media-heading
        small Username
    .footer.text-center
      button.btn.btn-info.btn-round.btn-sm(href='#')  Follow
  .media
    a.pull-left(href='#')
      .avatar
        img.media-object(src='/img/face-2.jpg')
    .media-body
      h3.media-heading
        small Username
    .footer.text-center
      button.btn.btn-info.btn-round.btn-sm(href='#')  Follow
  .media
    a.pull-left(href='#')
      .avatar
        img.media-object(src='/img/face-2.jpg')
    .media-body
      h3.media-heading
        small Username
    .footer.text-center
      button.btn.btn-info.btn-round.btn-sm(href='#')  Follow
  .media
    a.pull-left(href='#')
      .avatar
        img.media-object(src='/img/face-2.jpg')
    .media-body
      h3.media-heading
        small Username
    .footer.text-center
      button.btn.btn-info.btn-round.btn-sm(href='#')  Follow
  .media
    a.pull-left(href='#')
      .avatar
        img.media-object(src='/img/face-2.jpg')
    .media-body
      h3.media-heading
        small Username
    .footer.text-center
      button.btn.btn-info.btn-round.btn-sm(href='#')  Follow