#createModal.modal.modal-small.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title.text-center Unleash Your Creativity
      .modal-body
        form.form-horizontal(id='createArticle-form', method='POST')
          .form-group
            .col-sm-7
              input.form-control(type='text', value='',id='title', placeholder='Title')
          .form-group
            .col-sm-12
              textarea#content.form-control(type='text', name='content', placeholder='poem content', row='10')
          .form-group
            .col-sm-12
              label.control-label(for='category') Category
              select#category.form-control(name='category')
                option nonCategorized
                option Category1
                option Category2
                option Category3
          button.btn.btn-info.btn-fill.btn-block(type='submit')
            i.fa.fa-user-plus
            | Create Post
#editProfileModal.modal.modal-small.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title.text-center Edit Profile
      .modal-body
        .author.card-user
          a(href='#')
            img.avatar.img-circle(src='/img/face-4.jpg', alt='...')
            form.form-horizontal(id='createArticle-form', method='POST')
              .form-group
                .col-sm-12
                  input.form-control(type='text', value='',id='username', placeholder='Username')
              .form-group
                .col-sm-12
                  input.form-control(type='text', value='',id='firstname', placeholder='Firstname')
              .form-group
                .col-sm-12
                  input.form-control(type='text', value='',id='lastname', placeholder='Lastname')
              .form-group
                .col-sm-12
                  input.form-control(type='text', value='',id='website', placeholder='Website')
              .form-group
                .col-sm-12
                  input.form-control(type='email', value='',id='email', placeholder='Email')
              button.btn.btn-info.btn-fill.btn-block(type='submit')
                i.fa.fa-user-plus
                | Save
  
  