<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
	<div class="col-md-7">
		<ul>
			<% for (var i = 0; i < articles.length; i++) {%>
				<div class="fixed-section">
					<div class="card">
						<div class="content">
							<p class="category text-right">
								<i class="fa fa-clock-o">
									 <%= moment(articles[i].created).fromNow() %>
								</i>
							</p>
							<a class="card-link" href="#">
								<h1 class="title"><%= articles[i].title %></h1>
								<h3><% articles[i].content %></h3>
							</a>
							<div class="footer">
								<div class="author">
									<a card-link href="/api/users/#{article.creator.id}/profile">
									<img class="avatar" src="/img/face-2.jpg"/>
										<span>
											<%= articles[i].creator %>
										</span>
									</a>
								<stats class="pull-right">
									<a class="card-link" href="#">
										<i class="fa fa-comments">#</i>
									</a>
								</stats>
								<stats class="pull-right">
									<a class="card-link" href="#">
										<i class="fa fa-heart">
											<%= articles[i].favoritesCount %>
										</i>
										
									</a>
								</stats>
							</div>
						</div>
					</div>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>