 <!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <div class="section pad-top-10">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <h1><%= article.title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <p><%= article.content %></p>
                </div>
             </div>
        </div>
    </section>
   

   <% include ../partials/footer %>
</body>
</html>