<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
 <% include ../partials/header %> 

  <!-- header section -->
<section>
  <div class="container-fluid">
    <div class="row">
       <div class="cover height-500 height-xs-500">
            <div class="cover-background" style="background-image: url('/img/Poetry_Web_Background.jpg')">
              <div class="col-md-6 col-md-offset-3 text-center pad-top-50">
                <img src="/img/verz_icon.png">
                  <h1 style="font-family: 'Clicker Script', cursive; font-size:55px; font-spacing:15px;" class="white-text">Unleash Your Creativity</h1>
                  <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <a href="/signup" class="btn btn-primary btn-raised">Join</a>
                        <a href="/about" class="btn btn-primary btn-raised">Learn More</a>
               </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- header section -->

<!-- Main Section -->
<section>
  <div class="container pad-top-10">
    <div class="row">
      <div class="col-md-8 masonry-item">  
        <h3>Featured Poets</h3>
          
          <!-- Widget -->
          <div class="widget widget-article widget-shadow">
            <div class="widget-body">
              <p class="widget-metas type-link">
                <img class="width-50 img-circle" src="assets/portraits/1.jpg" alt="Relevant textual alternative to the image">

                <a href="javascript:void(0)">Heather Harper</a>
                <a href="javascript:void(0)">05, 2015</a>
                <a href="javascript:void(0)">
                  <span>3</span> Comments</a>
              </p>
              <h1 class="title-main">Singulos flagitem cupiditatibus</h1>
              <p>Geometria eae servare dicat, amicitiam, dixissem principio coniuncta
                adhibuit quantumcumque placeat easque, fidem gloriatur statuat
                perspecta ferantur greges propemodum quieti, turpius vituperatoribus
                complectitur leguntur vidisse assiduitas insolens audeam urbes
                futuris. Arbitrium dicere multavit. Sola nullas. Animus si orestem
                distinguique geometriaque. </p>
              <div class="widget-body-footer">
                <div class="widget-actions pull-left">
                  <a href="javascript:void(0)">
                    <i class="icon wb-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-heart"></i>
                    <span>253</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-chat"></i>
                    <span>115</span>
                  </a>
                </div>
                <a class="btn btn-default btn-outline pull-right" href="javascript:void(0)">
                  <i class="icon wb-chevron-right-mini"></i> Read More
                </a>
              </div>
            </div>
          </div>
          <!-- End Widget -->
               <!-- Widget -->
          <div class="widget widget-article widget-shadow">
            <div class="widget-body">
              <p class="widget-metas type-link">
                <img class="width-50 img-circle" src="assets/portraits/1.jpg" alt="Relevant textual alternative to the image">

                <a href="javascript:void(0)">Heather Harper</a>
                <a href="javascript:void(0)">05, 2015</a>
                <a href="javascript:void(0)">
                  <span>3</span> Comments</a>
              </p>
              <h1 class="title-main">Singulos flagitem cupiditatibus</h1>
              <p>Geometria eae servare dicat, amicitiam, dixissem principio coniuncta
                adhibuit quantumcumque placeat easque, fidem gloriatur statuat
                perspecta ferantur greges propemodum quieti, turpius vituperatoribus
                complectitur leguntur vidisse assiduitas insolens audeam urbes
                futuris. Arbitrium dicere multavit. Sola nullas. Animus si orestem
                distinguique geometriaque. </p>
              <div class="widget-body-footer">
                <div class="widget-actions pull-left">
                  <a href="javascript:void(0)">
                    <i class="icon wb-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-heart"></i>
                    <span>253</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-chat"></i>
                    <span>115</span>
                  </a>
                </div>
                <a class="btn btn-default btn-outline pull-right" href="javascript:void(0)">
                  <i class="icon wb-chevron-right-mini"></i> Read More
                </a>
              </div>
            </div>
          </div>
           <h3><a class="black-link" href="#">Featured Verzs</a></h3>
          
          <!-- Widget -->
          <div class="widget widget-article widget-shadow">
            <div class="widget-body">
              <p class="widget-metas type-link">
                <img class="width-50 img-circle" src="assets/portraits/1.jpg" alt="Relevant textual alternative to the image">

                <a href="javascript:void(0)">Heather Harper</a>
                <a href="javascript:void(0)">05, 2015</a>
                <a href="javascript:void(0)">
                  <span>3</span> Comments</a>
              </p>
              <h1 class="title-main">Singulos flagitem cupiditatibus</h1>
              <p>Geometria eae servare dicat, amicitiam, dixissem principio coniuncta
                adhibuit quantumcumque placeat easque, fidem gloriatur statuat
                perspecta ferantur greges propemodum quieti, turpius vituperatoribus
                complectitur leguntur vidisse assiduitas insolens audeam urbes
                futuris. Arbitrium dicere multavit. Sola nullas. Animus si orestem
                distinguique geometriaque. </p>
              <div class="widget-body-footer">
                <div class="widget-actions pull-left">
                  <a href="javascript:void(0)">
                    <i class="icon wb-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-heart"></i>
                    <span>253</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-chat"></i>
                    <span>115</span>
                  </a>
                </div>
                <a class="btn btn-default btn-outline pull-right" href="javascript:void(0)">
                  <i class="icon wb-chevron-right-mini"></i> Read More
                </a>
              </div>
            </div>
          </div>
          <!-- End Widget -->
               <!-- Widget -->
          <div class="widget widget-article widget-shadow">
            <div class="widget-body">
              <p class="widget-metas type-link">
                <img class="width-50 img-circle" src="assets/portraits/1.jpg" alt="Relevant textual alternative to the image">

                <a href="javascript:void(0)">Heather Harper</a>
                <a href="javascript:void(0)">05, 2015</a>
                <a href="javascript:void(0)">
                  <span>3</span> Comments</a>
              </p>
              <h1 class="title-main">Singulos flagitem cupiditatibus</h1>
              <p>Geometria eae servare dicat, amicitiam, dixissem principio coniuncta
                adhibuit quantumcumque placeat easque, fidem gloriatur statuat
                perspecta ferantur greges propemodum quieti, turpius vituperatoribus
                complectitur leguntur vidisse assiduitas insolens audeam urbes
                futuris. Arbitrium dicere multavit. Sola nullas. Animus si orestem
                distinguique geometriaque. </p>
              <div class="widget-body-footer">
                <div class="widget-actions pull-left">
                  <a href="javascript:void(0)">
                    <i class="icon wb-share"></i>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-heart"></i>
                    <span>253</span>
                  </a>
                  <a href="javascript:void(0)">
                    <i class="icon wb-chat"></i>
                    <span>115</span>
                  </a>
                </div>
                <a class="btn btn-default btn-outline pull-right" href="javascript:void(0)">
                  <i class="icon wb-chevron-right-mini"></i> Read More
                </a>
              </div>
            </div>
          </div>
        </div>
<!-- Posts -->

      <!-- Categories -->
      <div class="col-md-4">
          <h3>Categories</h3>
          <div class="col-md-offset-1">
            <p><a href="#">Sonnet</a></p>
            <p><a href="#">Shakespearean</a></p>
            <p><a href="#">Limerick</a></p>
            <p><a href="#">Free Verse</a></p>
            <p><a href="#">Narrative</a></p>
            <p><a href="#">Sestina</a></p>
            <p><a href="#">Verse</a></p>
          </div>
          <hr>
        </div>
      <!-- Categories -->

        <!-- Verz Ad -->
        <div class="col-md-4">
              <div class="cover height-300 height-xs-300">
            <div class="cover-background" style="background-image: url('https://images.unsplash.com/photo-1442029739115-ce733f0de45e?q=80&fm=jpg&s=fa2c61b58ef6b971915c715b73362e6d')">
              <div class="col-md-6 col-md-offset-3 text-center pad-top-50">
                <p class="white-text">Get Started Now</p>
               <a href="#" class="btn btn-primary btn-outline">Create Verz</a>
               </div>
            </div>
        </div>
      </div>
    <!-- Verz Ad -->

    <!-- Footer -->
     <div class="col-md-4 text-center">
        <hr>
      <ul class="list-inline list-unstyled">
        <li>Help</li>
        <li>About</li>
        <li>Blog</li>
        <li>Contact</li>
        <li>Terms & Services</li>
      </ul>
  </div>
 <!-- Footer -->

  <!-- End Page -->
<% include ../partials/footer %>

</body>
</html>