<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
</body>
	<div class="wrapper">
     <div class="parallax">
        <div class="parallax-image">
            <img src="/img/Poetry_Web_Background.jpg">
        </div>
        <div class="motto">
            <img src="/img/verze.co-01.png" class="logo"/>
        </div>
    
        <h3 class="motivation">Tag Line Have to Decide what it is</h3>
        <p>test</p>

        </div>
          <div class="section">
            <div class="container tim-container" style="max-width:800px; padding-top:100px">
               <h1 class="text-center">Awesome looking header <br> just for my friends<small class="subtitle">This is like a small motto before the story.</small></h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>      
                   <!--     end extras -->        
            </div>
            <div class="space"></div>
    </div>
</div> <!-- wrapper --> 
    </div>
	<% include ../partials/footer %>
	 <script type="text/javascript">
        $().ready(function(){
            $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);
        });       
    </script>
   </body>
</html>