<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/main-header %>

	  <div class="main">
        <div class="section">
    		<div class="container">
        		<div class="row">
            		<div class="col-md-3">
                		<div class="fixed-section">
                		<div class="card card-user card-plain">
                            <div class="image image-plain"></div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar" src="/img/face-2.jpg" alt="..."/>
                                   
                                      <h4 class="title"><%= user.email %>
                                      </h4> 
                                    </a>
                                </div>
                                <div class="text-center">
                                <button href="#" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-heart-o"></i>23</button>
                                <button href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-heart-o"></i>12</button>
                                <button href="#" class="btn btn-social btn-google btn-simple"><i class="fa fa-heart-o"></i>22</button>
                            	</div>  
                            </div>
                        </div> <!-- end card -->
       				 </div> <!-- end fixed section-->
       				 <div class="row">
       				 	<h3 class="title text-center">Trending</h3>
       				 </div>
   				</div><!--col-md-3-->


    <div class="col-md-7">
        <div class="tim-container" style="min-height: 2000px;">
        	<div class="space-50"></div>
        	    <div class="media">
                          <a class="pull-left" href="#">
                              <div class="avatar">
                                 <img class="media-object" alt="Tim Picture" src="/img/face-2.jpg">
                              </div>
                          </a>
                          <div class="media-body">                      
                             <h1 class="media-heading">Title<small class="subtitle">~Username</h1>
                             <h6 class="pull-right text-muted">Sep 11, 11:54 AM</h6>
                            
                             <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                             <p> Don't forget, You're Awesome!</p>
                            
                             <div class="media-footer">
                                 <a href="#" class="btn btn-info btn-simple "> <i class="fa fa-reply"></i> Comment</a>                          
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a>
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a> 
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a> 
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a>     
                             </div><!--Media footer-->
                            </div><!--Media Body-->
                          </div><!--Media-->
                          <div class="space-10"></div>
                           <div class="media">
                          <a class="pull-left" href="#">
                              <div class="avatar">
                                 <img class="media-object" alt="Tim Picture" src="/img/face-2.jpg">
                              </div>
                          </a>
                          <div class="media-body">                      
                             <h1 class="media-heading">Title<small class="subtitle">~Username</h1>
                             <h6 class="pull-right text-muted">Sep 11, 11:54 AM</h6>
                            
                             <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                             <p> Don't forget, You're Awesome!</p>
                            
                             <div class="media-footer">
                                 <a href="#" class="btn btn-info btn-simple "> <i class="fa fa-reply"></i> Comment</a>                          
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a>
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a> 
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a> 
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a>     
                             </div><!--Media footer-->
                            </div><!--Media Body-->
                          </div><!--Media-->
                           <div class="space-10"></div>
                           <div class="media">
                          <a class="pull-left" href="#">
                              <div class="avatar">
                                 <img class="media-object" alt="Tim Picture" src="/img/face-2.jpg">
                              </div>
                          </a>
                          <div class="media-body">                      
                             <h1 class="media-heading">Title<small class="subtitle">~Username</h1>
                             <h6 class="pull-right text-muted">Sep 11, 11:54 AM</h6>
                            
                             <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                             <p> Don't forget, You're Awesome!</p>
                            
                             <div class="media-footer">
                                 <a href="#" class="btn btn-info btn-simple "> <i class="fa fa-reply"></i> Comment</a>                          
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a>
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a> 
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a> 
                                 <a href="#" class="btn btn-default btn-simple pull-right">
                                     <i class="fa fa-heart-o"></i> 23
                                 </a>     
                             </div><!--Media footer-->
                            </div><!--Media Body-->
                          </div><!--Media-->
            			</div><!--Tim Container-->
        			</div><!--Col-md-8-->
				 </div>

   
</body>
</html>