<head>
  <% include ../partials/head %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand navbar-brand-center" href="javascript:void(0)">
                Brand
          </a>
        </div>
      </div>
    </nav>


<div class="page page-content container-fluid"><!--Main content-->
  <div class="row" data-plugin="matchHeight" data-by-row="true">
    <div class="col-lg-3 col-md-5 col-md-offset-1">
          
      
    </div>

    
  <% include ../partials/footer %>