<div class="widget widget-shadow">
            <div class="widget-header cover overlay">
              <div class="cover-background height-150" style="background-image: url('http://www.hdwallpapersimages.com/wp-content/uploads/2014/01/Winter-Tiger-Wild-Cat-Images.jpg')"></div>
            </div>
            <div class="widget-body padding-horizontal-30 padding-vertical-20">
              <div style="position:relative;padding-left:110px;">
                <a class="avatar avatar-100 bg-white img-bordered" href="javascript:void(0)" style="position:absolute;top:-50px;left:0;">
                  <img src="../../assets/portraits/2.jpg" alt="">
                </a>
                <div class="margin-bottom-20">
                  <div class="font-size-20">Caleb Richards</div>
                  <div class="font-size-14">Designer</div>
                </div>
              </div>
              <p>
                Reiciendis iactant eligendi. Vestrae referenda mundus asperum physico miserum viderer
                potiendi, feci dissentiunt ardore, audaces.
              </p>
            </div>
            <div class="widget-footer text-center bg-blue-grey-400 padding-30 height-100">
              <div class="row no-space">
                <div class="col-xs-4">
                  <div class="counter counter-inverse">
                    <span class="counter-number">7896</span>
                    <br>
                    <div class="counter-label inline-block margin-left-5">Followers</div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="counter counter-inverse">
                    <span class="counter-number">621</span>
                    <br>
                    <div class="counter-label inline-block margin-left-5">Following</div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="counter counter-inverse">
                    <span class="counter-number">21</span>
                    <br>
                    <div class="counter-label inline-block margin-left-5">Verzs</div>
                  </div>
                </div>
              </div>
            </div>
          </div>