<head>
  <% include ../partials/head %>
</head>


<body class="layout-full">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<style>
.logo{
  height:150px;
}
</style>

  <!-- Page -->
  <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
  data-animsition-out="fade-out">>
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img logo" src="/img/black-01.png" alt="...">
          </div>
          <form method="POST">
          <input type="hidden" name="_csrf" value="<%= locals._csrf %>">
            <div class="form-group form-material floating">
              <input type="email" class="form-control" name="email" id="email" />
              <label class="floating-label">Email</label>
            </div>
            <div class="form-group form-material floating">
              <input type="password" class="form-control" name="password" id="password" />
              <label class="floating-label">Password</label>
            </div>
            <div class="form-group clearfix">
              <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
                <input type="checkbox" id="inputCheckbox" name="remember">
                <label for="inputCheckbox">Remember me</label>
              </div>
              <a class="pull-right" href="/forgot">Forgot password?</a>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg margin-top-40">Sign in</button>
          </form>
          <p>Still no account? Please go to <a href="/signup">Sign up</a></p>
        </div>
<<<<<<< HEAD
      </div>

      <footer class="page-copyright">
=======
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      </form>
      <p>Still no account? Please go to <a href="/signup">Sign Up</a></p>
      
      <form action="/auth/facebook" method="get">
        <button type="submit" class="btn btn-block btn-facebook btn-social">Sign in with Facebook</button>
      </form>
      <footer class="page-copyright page-copyright-inverse">
>>>>>>> a11f88a7f36c7cb0f7c586a61caaeb3de5d39711
        <p>Verz</p>
        <p>© 2015. All RIGHT RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
  <!-- End Page -->

  <% include ../partials/footer %>

