extends ../layouts/profile

block content
  .section.section-gray
    .container
      img(src='/img/verze.co-01.png').logo2
      .col-md-4.col-md-offset-4
        .card.card-price
          .content
            h6.category Unleash Your Creativity
            hr
            br
            form(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
              .form-group
                input.form-control(type='password', name='password', id='password', placeholder='Password')
              .form-group
                a.pull-right(href='/forgot') Forgot your password?
              br
              .footer
                button.btn.btn-info.btn-md.btn-block(type='submit') Login
                



