extends ../layouts/default

block content
  .col-sm-6.col-sm-offset-3.sign
    .container
      .page-header
          h3 Login
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .col-sm-4
            .form-group
              input.form-control.input-sm(type='email', name='email', id='email', placeholder='Email', autofocus=true)
            .form-group
              input.form-control.input-sm(type='password', name='password', id='password', placeholder='Password')
            .form-group
              button.btn.btn-primary(type='submit')
                | Login
              a.btn.btn-link(href='/forgot') Forgot your password?
    .container
      .row
        h6 Already have an account
          span
           a(href="/login")  Log in here
          