extends ../layouts/default

block content
  .section
    .container
      .row
        .col-md-3
          .fixed-section.float
            .card.card-user.card-plain
              .image.image-plain
              .content
                .author
                  a(href='#')
                    img.avatar(src='/img/face-4.jpg', alt='...')
                    h3.title
                      | Username
                      br
                      small #{user.email}
                p.description.text-center
                  | "I got my eyes on you 
                  br
                  |     You're everything that I see 
                  br
                  |     I want your high love" 
                  br
              .footer.text-center
                .stats
                  a.card-link(href='#')
                    i.fa.fa-comments
                    |  89
                .stats
                  a.card-link(href='#')
                    i.fa.fa-heart
                    |  341
                .stats
                  a.card-link(href='#')
                    i.fa.fa-heart
                    |  341
                button.btn.btn-info.btn-round.btn-fill(data-toggle='modal', data-target='#editProfileModal') Edit Profile 