<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<% include ../partials/header %>
<body>

<section class="pad-top-10">
    <div class="col-md-12 text-center ">
        <img class="img-circle center-block" width="250" height="250" src="<%= user.profile.picture %>" alt="...">
        <h2 class="text-center"><%= user.profile.name %></h2>
        <p> BIO if bio exists </p>

          <div class="widget-footer padding-horizontal-30 padding-vertical-20 height-100">
              <div class="row no-space">
                <div class="col-xs-4">
                  <div class="counter">
                    <div class="counter-label">Followers</div>
                    <span class="counter-number">11.2K</span>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="counter">
                    <div class="counter-label">Following</div>
                    <span class="counter-number">683</span>
                  </div>
                </div> 
                <div class="col-xs-4">
                  <div class="counter">
                    <div class="counter-label">Verzs</div>
                    <span class="counter-number">326</span>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="btn btn-raised btn-primary">Edit</a>
            <a href="/account/stats" class="btn btn-raised btn-primary">Stats</a>
        </div>
  </section>

  <% include ../partials/footer %>
</body>
</html>