<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="fixed-section float">
          <div class="card card-user card-plain">
            <div class="image image-plain"></div>
            <div class="content">
              <div class="author"><a href="<%=u.profile.name%>"><img src="/img/face-4.jpg" alt="..." class="avatar"/>
                  <h3 class="title"><%= u.email%><br/><small> </small></h3></a></div>
              <p class="description text-center">"I got my eyes on you <br/>    You're everything that I see <br/>    I want your high love" <br/></p>
            </div>
            <div class="footer text-center">
              <div class="stats"><a href="#" class="card-link"><i class="fa fa-comments"></i> 89</a></div>
              <div class="stats"><a href="#" class="card-link"><i class="fa fa-heart"></i> 341</a></div>
              <div class="stats"><a href="#" class="card-link"><i class="fa fa-heart"></i> 341</a></div>
              <button data-toggle="modal" data-target="#editProfileModal" class="btn btn-info btn-round btn-fill">Edit Profile </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
   </body>
</html>