extends ../layouts/default

block content
  .row
    .col-xs-6.col-md-4
      form.form-horizontal(action='/account/profile', method='POST')
        .form-group
          .col-sm-4
            img(src="#{user.gravatar()}", class='profile', width='100', height='100')
        h4 User
        h4 email
        h4 # of posts
        h4 user stats
    .col-xs-12.col-sm-6.col-md-8
      .col-sm-8
        .col-sm-2
          h6 My Posts
        .col-sm-3
          h6 Following Posts
      .col-sm-2
        a.btn.btn-primary(href='/create')
          | Create Post
