<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
  <div class="container">
    <div class="row">
      	<section class="pad-top-10">
          <div class="col-md-4">
             <img class="img-circle center-block" width="250" height="250" src="<%= user.profile.picture %>" alt="...">
             <h2 class="text-center"><%= user.profile.name %></h2>
              <div class="widget-footer padding-horizontal-30 padding-vertical-20 height-100">
                    <div class="row no-space">
                      <div class="col-xs-4">
                        <div class="counter">
                          <div class="counter-label">Followers</div>
                          <span class="counter-number">11.2K</span>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="counter">
                          <div class="counter-label">Following</div>
                          <span class="counter-number">683</span>
                        </div>
                      </div> 
                      <div class="col-xs-4">
                        <div class="counter">
                          <div class="counter-label">Verzs</div>
                          <span class="counter-number">326</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="btn btn-raised btn-primary col-md-offset-5">Follow</a>
                </div>
            </section>

            <section class="pad-top-10">
              <div class="col-md-7">
                <div class="row">
                    <div class=" masonry-item pad-top-10">  
          
                      <!-- Widget -->
                      <div class="widget widget-article widget-shadow">
                       
                        <div class="widget-body">
                          
                          <h3 class="widget-title">Singulos flagitem cupiditatibus</h3>

                          <p>Geometria eae servare dicat, amicitiam, dixissem principio coniuncta
                            adhibuit quantumcumque placeat easque, fidem gloriatur statuat
                            perspecta ferantur greges propemodum quieti, turpius vituperatoribus
                            complectitur leguntur vidisse assiduitas insolens audeam urbes
                            futuris. Arbitrium dicere multavit. Sola nullas. Animus si orestem
                            distinguique geometriaque. </p>
                          <div class="widget-body-footer">
                            <div class="widget-actions pull-left">
                              <a href="javascript:void(0)">
                                <i class="icon wb-share"></i>
                              </a>
                              <a href="javascript:void(0)">
                                <i class="icon wb-heart"></i>
                                <span>253</span>
                              </a>
                              <a href="javascript:void(0)">
                                <i class="icon wb-chat"></i>
                                <span>115</span>
                              </a>
                            </div>
                            <a class="btn btn-default btn-outline pull-right" href="javascript:void(0)">
                              <i class="icon wb-chevron-right-mini"></i> Read More
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-7">
                <div class="row">
                    <div class=" masonry-item pad-top-10">  
          
                      <!-- Widget -->
                      <div class="widget widget-article widget-shadow">
                       
                        <div class="widget-body">
                          
                          <h3 class="widget-title">Singulos flagitem cupiditatibus</h3>

                          <p>Geometria eae servare dicat, amicitiam, dixissem principio coniuncta
                            adhibuit quantumcumque placeat easque, fidem gloriatur statuat
                            perspecta ferantur greges propemodum quieti, turpius vituperatoribus
                            complectitur leguntur vidisse assiduitas insolens audeam urbes
                            futuris. Arbitrium dicere multavit. Sola nullas. Animus si orestem
                            distinguique geometriaque. </p>
                          <div class="widget-body-footer">
                            <div class="widget-actions pull-left">
                              <a href="javascript:void(0)">
                                <i class="icon wb-share"></i>
                              </a>
                              <a href="javascript:void(0)">
                                <i class="icon wb-heart"></i>
                                <span>253</span>
                              </a>
                              <a href="javascript:void(0)">
                                <i class="icon wb-chat"></i>
                                <span>115</span>
                              </a>
                            </div>
                            <a class="btn btn-default btn-outline pull-right" href="javascript:void(0)">
                              <i class="icon wb-chevron-right-mini"></i> Read More
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              

          </section>
        </div> 
    </div>
						
	<% include ../partials/footer %>
</body>
</html>