
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

  <body class="layout-full">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<style>
.logo{
  height:150px;
}
</style>

  <!-- Page -->
  <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
  data-animsition-out="fade-out">>
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img logo" src="/img/black-01.png" alt="...">
          </div>
          <form method="POST">
            <input type="hidden" name="_csrf" value="<%= locals._csrf %>">
            <div class="form-group form-material floating">
              <input type="text" class="form-control" name="name" id="name"/>
              <label class="floating-label">Full Name</label>
            </div>
            <div class="form-group form-material floating">
              <input type="email" class="form-control" name="email" id="email"/>
              <label class="floating-label">Email</label>
            </div>
            <div class="form-group form-material floating">
              <input type="password" class="form-control" name="password" id="password"/>
              <label class="floating-label">Password</label>
            </div>
            <div class="form-group form-material floating">
              <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" />
              <label class="floating-label">Re-enter Password</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-lg margin-top-40">Sign up</button>
          </form>
          <p>Have account already? Please go to <a href="/login">Sign In</a></p>
        </div>
      </div>

      <h5> Social Media Login </h5>
      <div class="col-md-12 col-md-offset-2">
          
          <div class="example example-buttons">
        
            <div class="col-md-2">
            <form action="/auth/facebook" method="get">
              <button type="submit" class="btn btn-icon social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
            </form>
            </div>

            <div class="col-md-2">
            <form action="/auth/twitter" method="get">
              <button type="submit" class="btn btn-icon social-twitter"><i class="icon bd-twitter" aria-hidden="true"></i></button>
            </form>
             </div>

            <div class="col-md-2">
            <form action="/auth/instagram" method="get">
              <button type="submit" class="btn btn-icon social-instagram"><i class="icon bd-instagram" aria-hidden="true"></i></button>
            </form>
             </div>

            <div class="col-md-2">
            <form action="/auth/google" method="get">
              <button type="submit" class="btn btn-icon social-google-plus"><i class="icon bd-google-plus" aria-hidden="true"></i></button>
            </form>
             </div>
        
          </div>
        </div>
      

      <footer class="page-copyright">
        <p>Verz</p>
        <p>© 2015. All RIGHT RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
  <!-- End Page -->

  <% include ../partials/footer %>


