<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<% include partials/header %>
<body>

	  <!-- header section -->
<section>
  <div class="container-fluid">
    <div class="row">
       <div class="cover height-500 height-xs-500">
            <div class="cover-background" style="background-image: url('/img/Poetry_Web_Background.jpg')">
              <div class="col-md-6 col-md-offset-3 text-center pad-top-50">
                  <h1 class="white-text">About Verz</h1>
                  <p class="white-text">Content for the creative</p>
               </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- header section -->


  <% include partials/footer %>
</body>
</html>