<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<% include partials/header %>
<body>

	<section>
		<div class="container pad-top-10">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<h1>Settings</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h6>Email Settings</h6>
					<hr>
					<h4>Your Email</h4><a class="btn btn-raised btn-outline pull-right btn-brown">Edit Email</a>
					<p><%= user.email %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h4>Email Notifications</h4>
					<hr>
					<a class="btn btn-raised btn-outline btn-brown pull-right">Yes/NO</a>
					<p>We will email you with information about your Verzs</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h4>Email Social Notifications</h4>
					<hr>
					<a class="btn btn-brown btn-raised pull-right">Yes/no</a>
					<p>We will email you when someone follows you</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h4>Daily Verz</h4>
					<hr>
					<a class="btn btn-brown btn-raised btn-outline pull-right">Yes/no</a>
					<p>We will email you daily verzs</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h6>Connections</h6>
					<hr>
					<h4>Connect To Facebook</h4><a class="btn btn-brown btn-raised btn-outline pull-right">Connect to facebook</a>
					<p>Friends you have on Facebook who are also on Verz will become part <br> of your Verz network. We will never post to Facebook or message your <br>friends without your permission.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<hr>
					<h4>Connect To Twitter</h4><a class="btn btn-brown btn-raised btn-outline pull-right">Connect to twitter</a>
					<p>Friends you have on Twitter who are also on Verz will become part <br> of your Verz network. We will never post to Twitter or message your <br>friends without your permission.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h4>Email Social Notifications</h4>
					<hr>
					<a class="btn btn-brown btn-raised btn-outline pull-right">Yes/no</a>
					<p>We will email you when someone follows you</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h6>Account</h6>
					<hr>
					<h4>Your Username</h4><a class="btn btn-brown btn-raised btn-outline pull-right">Edit Username</a>
					<p><%= user.profile.name %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h4>Deactivate Account</h4>
					<hr>
					<a class="btn btn-brown btn-raised pull-right">Deactivate Account</a>
					<p>Deactivating your account will remove it from Medium within a few minutes.<br> You can sign back in whenever to reactivate your account and restore its content.</p>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
		<footer class="page-copyright">
        <p>Verz</p>
        <p>© 2015. All RIGHT RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
         <div class="col-md-4 col-md-offset-4 text-center">
        <hr>
      <ul class="list-inline list-unstyled">
        <li>Help</li>
        <li>About</li>
        <li>Blog</li>
        <li>Contact</li>
        <li>Terms & Services</li>
      </ul>
  </div>
      </footer>
    </div>
  </div>
 </div>

	 <% include partials/footer %>
</body>