<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <style>
.logo{
  height:250px;
}
</style>

	  <!-- header section -->
<section>
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img class="brand-img logo" src="/img/verz_logo_main.png" alt="...">
            <h1 class="text-center">Welcome to Verz</h1>
            <p class="text-center">Please join us as we curate the best creative content in history for your pleasure</p>
            <p class="text-center">Create your personal literary cannon for the world the enjoy</p>
            <h3 class="text-center">Stay tuned for updates!</h3>
        </div>
      </div>
    </div>
  </section>
<!-- header section -->


  <% include partials/footer %>
</body>
</html>